* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    background-image: url(../images/weather.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: maroon;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 1px solid lightgrey;
}

h1 {
    float: left;
    font-size: 24px;
    color: white;
    padding: 30px; 
    background-color: #4aaaa5;
    margin-left: 100px;
    font-weight: bold;
}

ul {
    text-align: right;
    list-style-type: none;
    margin-right: 100px;
    margin-top: 30px;
    color: gray; 
    font-size: 12px;
   
}

li {
    display: inline;
    text-align: center;
}

div {
    background-color: white;
    margin: 150px 100px 150px 100px;
    clear: both;
    overflow: auto;
}

h2 {
    color: #4aaaa5;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

hr {
    border: 1px solid lightgrey;  
    margin: 15px;  
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #848484;
    padding-top: 20px;
    font-size: 10px;
    color: white;
    overflow: hidden;
    border-top: 5px solid #4aaaa5;

}

a:link {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    padding: 5px;

}

a:hover {
    font-size: 24px;
    font-weight: bold;
    color: gray;
    padding: 10px;
}

a:visited {
        text-decoration: none;
        font-size: 18px;
        color: gray;
        padding: 5px;
    }
a:active {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    padding: 10px;

}

label {
    color: gray;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

img {
    width: 200px;
    height: auto;
    float: left;
    margin: 15px;
}

#profile-container {
    margin: 150px auto;
    width: 960px;
}


#profile {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2.0;
    margin: 15px;
}

#portfolio-container {
    height: 700px;
}

form {
    margin: 15px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    background: #4aaaa5;
    color: white;
}

.sideborder {
    border-right: 1px inset lightgray;
    padding-right: 2px;
}

